*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
a{
  text-decoration: none;
  
}
.form{
    width: 530px;
    height: 530px;
    border: 8px inset antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  
  
  
}


.imageContainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    filter: blur(2px);
}
label{
    font-weight: bold;
    padding: 15px 10px;
    font-size: 20px;
}
.submitButton{
    padding: 10px;
    font-weight: bolder;
    cursor: pointer;
}
.fac{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 130px;
   font-weight: bold;
  font-size: 30px;
 font-style:italic;

  color: #232323;
  
} 
.dilpreet{
   margin-bottom: 90px;
}
.info
{
  display:flex;
  flex-direction:column;
}
.primary{
  size: 20px;
  border-radius: 20px;
  padding: 5px 8px;
  margin-left: 14px;
  border: 2px  snow;
}
.secon{
  border-radius: 20px;
  padding: 5px;
  border: 2px  snow;
}